@import "base/all";

// Minimal HTML classes approach

// colors
$megamenu-background-color: $white;
$megamenu-color: theme-color('light');
$megamenu-link-color: theme-color('primary');
$megamenu-link-color--hover:lighten($megamenu-link-color,20%);
$megamenu-transition-colors:color .5s ease-out, background-color .5s ease-out;

$site-header--background-color-hover:lighten($megamenu-background-color,10%);
$site-header--background-color-stacked:lighten($megamenu-background-color,40%);

$grey-test: grey('00');
@debug $grey-test;

body {
  font-family:  'Lato', sans-serif;
  background-color: $white;
	text-size-adjust: 100%;
  font-size: $base-font-size;
  line-height: $line-height;

	&.grid {
		background: linear-gradient(to bottom, hsla(200, 100%, 50%, 1) 1px, transparent 1px) left top / 100% $unit repeat,
	 linear-gradient(to bottom, hsla(100, 100%, 40%, 1) 2px, transparent 2px) left top / 100% $line-height repeat//,
    //linear-gradient(to right, rgb(255, 150, 0) 1px, transparent 1px) left top / $line-height 100% repeat;
	}
}

.navbar, .megamenu {
  position:relative;
}

.navbar {
  width: 100%;
  background-color: $megamenu-background-color;
	border-bottom: 1px solid grey(10);
	position: fixed;
	z-index: 1;
}

%item {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position:relative;
  min-width: 12rem;
  padding: .5rem;
}

%leader { 
  @extend %item;
  
  min-width: auto;
  display:flex;
  flex:1 0 0%;
  align-items:center;
  justify-content:flex-start;
  cursor: pointer;
  transition:$megamenu-transition-colors;
  background-color: $megamenu-background-color;
  overflow: hidden; 
}

.megamenu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
	max-width: $max-width;
	height: 1 * $line-height;
	margin: auto;
}

// common menu item
.megamenu li {
  @extend %item;
}
// leader menu item
.megamenu > li {
  min-width: auto;
  display:flex;
  flex:1 0 0%;
  align-items:center;
  justify-content:flex-start;
  cursor: pointer;
  transition:$megamenu-transition-colors;
  background-color: $megamenu-background-color;
  
  overflow: hidden;
  // leader menu item that has a submenu
  &[class~=has-submenu] {
    overflow: visible;
    background-color: theme-color('accent');
  }
  
  // burger leader menu item 
  &.burger {
    display:none;
    font-weight: 900;
    flex:0 1 auto;
    justify-content:flex-end;
    color:$megamenu-link-color;    
  }
  // social leader menu item
  &.social-icons {
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-end;
    align-items:center;
    flex:0;
    min-width: 12rem;
    & a {
      padding-right:.5rem;
      text-decoration:none;
      flex:1 0 0%;
    }
  }
  // leader menu item that provide ellipsis capability
  & > .ellipsis {
    flex:1 1 0%; 
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    & > svg {
      flex-shrink:0;
    }
    & > span {
      display: inline-block;
      margin-left: .5rem;
      @include text-truncate;
    }
  }
  // leader menu item states
  &:hover, .icon:hover {
    background-color:$site-header--background-color-hover;
  }
  // hide 4th child of leader menu item node; it depends on html source order!!!!
  @at-root.site-header--is-stack#{&}:nth-child(n+4) {
    display:flex;
    min-width:100%;
    background-color:$site-header--background-color-stacked;
    &:hover {
      background-color:$site-header--background-color-hover;
    }
} 

  
    @media only screen and (max-width: 480px) {
      &:nth-child(n+4) {
        display:none;
      } 
      &.burger {
        display:flex;
      }
      &.social-icons {
        justify-content:flex-start;
      }
    }  
}

.megamenu li > a {
  display:flex;
  flex:1;
}
.megamenu li > a:hover{
  color: $megamenu-link-color--hover;
}
.megamenu li.has-submenu > a {
  justify-content: center;
  flex:1;
}

.megamenu .submenu {
  display:none;
  flex-wrap:wrap;
  justify-content:flex-start;
  flex: 1;
  position:absolute;
  top:100%;
  z-index:1;
  background-color: lighten($megamenu-background-color, 5%);
	border-bottom: 1px solid grey(10);
	border-left: 1px solid grey(10);
	border-right: 1px solid grey(10);
}

.megamenu .submenu ul {
  display:flex;
  flex-wrap:wrap;
  flex:1 0 0%;

}

.megamenu li>ul[class~=submenu]{
  display:none;
}
.megamenu li:hover>ul[class~=submenu]{
  display:flex;
}

a, .has-link-appearance {
  transition:$megamenu-transition-colors;
  text-decoration:none;
  color:$megamenu-link-color;
  &:hover {
    color:$megamenu-link-color--hover;
  }
}

.icon {
  width:1rem;
  height:1rem;
  fill:$megamenu-link-color;
  &:hover {
    fill:$megamenu-link-color--hover;
  }
}

li.grow-no {
  flex: 0 1 auto;
}
